*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: #171717;
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden; 
}
.wrappeer {
    padding: 20px;
}
section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 700;
}
section p {
    font-size: 1rem;
    margin-bottom: 20px;
}
.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 10px;
}
.ml-3 {
    margin-left: 15px;
}
code {
    background-color: #1e1e1e;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
}
section{
    margin-bottom: 20px;
border-bottom:1px solid #33333355;
padding-bottom: 20px;
}
section h3 {

    margin-bottom: 20px;
    font-weight: 600;
}
.inline {
    display: inline;
}
.w-1 {
    font-weight: 800;
}
section p{
    margin-bottom: 20px;
}
section code {
    margin-bottom: 20px;
}
section  table{
margin-bottom: 20px;
}
.tbw {
    width: 80%;
    border-collapse: separate; /* Needed for border-radius */
    border-spacing: 0;
    border: 2px solid #3498db;
    border-radius: 10px;
    overflow: hidden;
}

.tbw th{
    border: 1px solid #3498db;
    padding: 10px;
    text-align: left;
}
.tbw td{
    border: 1px solid #3498db;
    padding: 10px;
    text-align: left;
}

.tbw th {
    background-color: #3498db;
    color: white;
}
loader-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
}
/* loader */
/* From Uiverse.io by alexruix */ 
.loader {
    width: 80px;
    height: 50px;
    position: relative;
    margin: 46.64138vh auto ;
  }
  
  .loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #C8B6FF;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  
  .load {
    background-color: #9A79FF;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
  }
  
  .load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #D1C2FF;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
  }
  
  @keyframes text_713 {
    0% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  
    40% {
      letter-spacing: 2px;
      transform: translateX(26px);
    }
  
    80% {
      letter-spacing: 1px;
      transform: translateX(32px);
    }
  
    90% {
      letter-spacing: 2px;
      transform: translateX(0px);
    }
  
    100% {
      letter-spacing: 1px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading_713 {
    0% {
      width: 16px;
      transform: translateX(0px);
    }
  
    40% {
      width: 100%;
      transform: translateX(0px);
    }
  
    80% {
      width: 16px;
      transform: translateX(64px);
    }
  
    90% {
      width: 100%;
      transform: translateX(0px);
    }
  
    100% {
      width: 16px;
      transform: translateX(0px);
    }
  }
  
  @keyframes loading2_713 {
    0% {
      transform: translateX(0px);
      width: 16px;
    }
  
    40% {
      transform: translateX(0%);
      width: 80%;
    }
  
    80% {
      width: 100%;
      transform: translateX(0px);
    }
  
    90% {
      width: 80%;
      transform: translateX(15px);
    }
  
    100% {
      transform: translateX(0px);
      width: 16px;
    }
  }
   
   
  
  ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2980b9;
}
